<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.heading-margin {
    margin-top: 15px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
  position: static;
}

.carousel img {
  height: 240px;
  width: auto;
  object-fit: contain;
}
@media (min-width: 575.98px) { 
  .carousel img {
    height: 290px;
  }
}

@media (min-width: 767.98px) {   
  .carousel img {
    height: 390px;
  }
}

@media (min-width: 991.98px) { 
  .carousel img {
    height: 435px;
  }
}

.card img {
    height: 150px;
    width: auto;
    object-fit: contain;
}

