@model CarQueryServiceModel

@using CarRenting.Services.Cars

<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <div class="col-md-4 col-sm-6 col-xs-12">    
                <div class="aboutus-image float-left hidden-sm"><img src="https://devitems.com/preview/sopnovilla/sopnovilla/img/about/1.jpg" alt=""></div>
                </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="aboutus-content ">
                    <h1>About <span>Car Renting</span></h1>
                    <h4>Property Details</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has oots in a piece of classitin literature from 45 BC, making it over 2000 years old. Richard McClint professor at Hamden dney College irginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                    
                    <div class="counter ">
                        
                        <div class="single-counter text-center">
                            <h2 class="counter">1459</h2>
                            <p>Happy Clients</p>
                        </div>
                        
                        <div class="single-counter text-center">
                            <h2 class="counter">1857</h2>
                            <p>Total Rented Cars</p>
                        </div>
                        
                        <div class="single-counter text-center">
                            <h2 class="counter">1555</h2>
                            <p>Total Clients</p>
                        </div>
                        
                        <div class="single-counter text-center">
                            <h2 class="counter">7</h2>
                            <p>Total Cars</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>    
            </div>
        </div>
    </div>
</div>

